/*-----------------------------*\
 * UI Colours
 *-----------------------------*/

/**
* Main Colours
*/


$black: #202121;
$white: #FFFFFF;

$black--light: rgba(32, 33, 33, 0.5);
$white--light: rgba(255,255,255, 0.5);


$grey: #8F8F8F;
$grey--dark: #2F2F2F;


$gold: #8C816B;
$gold--light: #F0ECE3;


$sandal: #BB8877;
$sandal--dark: #793E2B;
$sandal--light: #E4CFC9;
$sandal--hint: #F1E7E4;


$cornflower: #5795B3;
$cornflower--dark: #417086;
$cornflower--light: #BCD5E1;
$cornflower--hint: #E4EEF3;