/*-----------------------------*\
 * UI Colours
 *-----------------------------*/
/**
* Main Colours
*/
.slider--hero__slide-wrapper {
  position: relative;
  filter: opacity(50%);
  transition: all .6s ease; }

.slider--hero .slick-current .slider--hero__slide-wrapper {
  filter: none; }

.slider--hero .slick-current .slider--hero__copy {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.slider--hero__image {
  padding-top: 56.25%;
  background-color: #8C816B;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 380px -44px 166px 30px rgba(32, 33, 33, 0.5); }
  @media (max-width: 768px) {
    .slider--hero__image {
      padding-top: 100%; } }
  @media (max-width: 576px) {
    .slider--hero__image {
      padding-top: 150%; } }
  .slider--hero__image--red {
    background-color: #BB8877; }
  .slider--hero__image--blue {
    background-color: #5795B3; }
  .slider--hero__image--light {
    background-color: #F0ECE3; }

.slider--hero__copy {
  display: none; }

.slider--hero .slick-slider {
  padding-bottom: 60px;
  margin-bottom: 144px;
  width: 180vw; }
  @media (max-width: 768px) {
    .slider--hero .slick-slider {
      margin-bottom: 96px; } }
  @media (max-width: 576px) {
    .slider--hero .slick-slider {
      margin-bottom: 64px; } }

.slider--hero .slick-track {
  height: 100%; }

.slider--hero .slick-slide {
  width: 100%;
  height: 100%;
  cursor: pointer; }

.slider--hero .carousel__arrow-next,
.slider--hero .carousel__arrow-prev {
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: none !important; }

.slider--hero .carousel__arrow-next {
  right: 50px; }

.slider--hero .carousel__arrow-prev {
  left: 50px; }
